---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import LinkButton from "@components/LinkButton.astro";
import projectsData from "@components/projectstest.json";
---

<style>
  .project-item {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>

<Layout title={`My Works | ${SITE.title}`}>
  <Header />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">My Works</h1>

      <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
        {
          projectsData.map((project, index) => (
            <div key={index} class="flex flex-col project-item">
              <a href={project.link} target="_blank" rel="noopener noreferrer">
                <img
                  class="h-auto max-w-full rounded-lg"
                  src={project.image}
                  alt={project.title}
                />
              </a>
              <p>
                <a
                  href={project.link}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {project.title}
                </a>
              </p>
            </div>
          ))
        }
      </div>
    </section>
  </main>

  <Footer />
</Layout>
