---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import LinkButton from "@components/LinkButton.astro";
import projectsData from "src/projects.json";

---

<Layout title={`My Works | ${SITE.title}`}>
  <Header />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">My Works</h1>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {projectsData.map((row, rowIndex) => (
          <div key={rowIndex} class="grid">
            {row.map((project, colIndex) => (
              <div key={colIndex}>
                <a href={project.link} target="_blank" rel="noopener noreferrer">
                  <img class="h-auto max-w-full rounded-lg" src={project.image} alt={project.title} />
                </a>
                <p><a href={project.link} target="_blank" rel="noopener noreferrer">{project.title}</a></p>
              </div>
            ))}
          </div>
        ))}
      </div>

    </section>
  </main>

  <Footer />
</Layout>


